{
  "local": {
    "SEND_SMS": "false",
    "TWILIO_NUMBER": "+11231231234",
    "TWILIO_ACCOUNT_SID": "asdf",
    "TWILIO_AUTH_TOKEN": "fdsa",
    "TWILIO_CALL_URL": "https://handler.twilio.com/twiml/asdf",
    "DATABASE_URL": "postgres://asdf"
  },
  "dev": {
    "SEND_SMS": "true",
    "TWILIO_NUMBER": "+11231231234",
    "TWILIO_ACCOUNT_SID": "asdf",
    "TWILIO_AUTH_TOKEN": "fdsa",
    "TWILIO_CALL_URL": "https://handler.twilio.com/twiml/asdf",
    "DATABASE_URL": "postgres://asdf"
  },
  "release": {
    "SEND_SMS": "true",
    "TWILIO_NUMBER": "+11231231234",
    "TWILIO_ACCOUNT_SID": "asdf",
    "TWILIO_AUTH_TOKEN": "fdsa",
    "TWILIO_CALL_URL": "https://handler.twilio.com/twiml/asdf",
    "DATABASE_URL": "postgres://asdf"
  }
}
