name: Build + deploy

on:
  push:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  build-deploy:
    needs: test
    uses: scott113341/workflows/.github/workflows/build-deploy.yaml@main
    with:
      registry: registry.they.industries
      repository: group-sms
    secrets:
      registry-user: ${{ secrets.REGISTRY_USER }}
      registry-password: ${{ secrets.REGISTRY_PASSWORD }}
